*.iws
*Db.properties
*Db.script
.settings
eclipse
stacktrace.log
target
target-eclipse
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
*.class

# Package Files #
*.jar
*.war
*.ear

log.roo
.DS_Store
aws-java-sdk-1.3.15

